# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

# (Added) Emacs partial saves

**/.#*

# (Added) The elves/elvish package copied
pkg/
pkg/*
pkg/**/*
archived-work/pkg/
archived-work/pkg/*
archived-work/pkg/**/*

# (Added) Node.js stuff in the function_info/ directory
archived-work/function_info/node_modules/
archived-work/function_info/node_modules/*
archived-work/function_info/node_modules/**/*

# (ADDED) Node.js stuff in the js_concolic/ directory
archived-work/js_concolic/node_modules/
archived-work/js_concolic/node_modules/*
archived-work/js_concolic/node_modules/**/*

# (ADDED) Jalangi2 stuff in the js_concolic/ directory
archived-work/js_concolic/*_jalangi_.js
archived-work/js_concolic/*_jalangi_.json
archived-work/js_concolic/**/*_jalangi_.js
archived-work/js_concolic/**/*_jalangi_.json

# (ADDED) .eidin-run directory
archived-work/js_concolic/.eidin-run/

# (ADDED) Generated protobuf implementations
archived-work/js_concolic/EIDIN/proto_js/
archived-work/js_concolic/EIDIN/proto_lib/

# (ADDED) Binaries
bin/bin
archived-work/js_concolic/analyze_bin/analyze_bin
archived-work/js_concolic/SMTLib_2VA/bin/bin
archived-work/simple_dse_bin/simple_dse_bin

