# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

# (Added) Emacs partial saves

**/.#*

# (Added) The elves/elvish package copied
pkg/
pkg/*
pkg/**/*

# (Added) Node.js stuff in the callback_streams/ directory
callback_streams/node_modules/
callback_streams/node_modules/*
callback_streams/node_modules/**/*

# (ADDED) Node.js stuff in the js_concolic/ directory
js_concolic/node_modules/
js_concolic/node_modules/*
js_concolic/node_modules/**/*

# (ADDED) Jalangi2 stuff in the js_concolic/ directory
js_concolic/*_jalangi_.js
js_concolic/*_jalangi_.json
js_concolic/**/*_jalangi_.js
js_concolic/**/*_jalangi_.json

# (ADDED) .eidin-run directory
js_concolic/.eidin-run/

# (ADDED) Generated protobuf implementations
js_concolic/EIDIN/proto_js/
js_concolic/EIDIN/proto_lib/

